table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: center;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #16365C;
  width: 10%;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.hours{
  background-color: #D9D9D9;
  border-color: white;
  border-width: 2px;
}

.subject{
    font-size: 15px;
    font-weight: bold;
    border-color: white;
    border-width: 2px;
    background-color: #F2F2F2;
}

.subjectBloqued{
  background-color: #AAAAAA;
  font-size: 15px;
  font-weight: bold;
  border-color: white;
  border-width: 2px;
}
.subjectError{
  font-size: 15px;
  font-weight: bold;
  border-color: red;
  border-width: 4px;
}

.error{
  color: red;
  text-align: left;
}