table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
  }
  
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #16365C;
    width: 10%;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  