.check {
    width: 10%;

}

.rows {
    width: 10%
}

.description {
    text-align: left;
    font-weight: 400;
    border-top-color: #A4A4A4;
    border-bottom-color: #A4A4A4;
    color: #5c5c5c;
    border-right-color: #F5F5F5;
    border-left-color: #F5F5F5;
}

.quotas {
    float: right;
}
