.menu-container {
    margin-top: auto;
    margin-bottom: 5%;
}

.menu-container h1 {
    color: black;
    margin-top: 5%;
    font-size: 24px;
    font-weight: 600;
}

.option {
    text-align: left;
    font-size: 24px;
}

.option h4 {
    font-weight: 600;
}

.option2 {
    text-align: center;
    font-size: 18px;
}

.option2 h3 {
    font-weight: 600;
}

/* Aqui va la tabla */

.table {
    background-color: rgba(143, 182, 201, 0.36);
    border-color: transparent;
    border: 1px solid transparent;
    color: white;

}

.table th {
    background-color: #10344E;
    border-color: transparent;
    font-size: 24px;
    border: 1px transparent;

}

.table td {
    border: 3px solid white;
    font-size: 17px;
    font-weight: 600;
    padding: 1%;
    color: rgba(0, 0, 0, 0.72);

}

.type {
    text-align: left;
    padding-left: 5%;
}

.link {
    color: #5D9BE8;
    text-decoration: underline;
    font-weight: 600;
    font-size: 17px;
}